html{
    text-align: center;
    color: #333;
    font-family: 'Arial', Times, serif;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    background-color: beige;
}

#container{
    background-color: #7aa1fd;
    width: 70%;
    padding: 0;
    text-align: left;
    border: 2px solid #f5f5f5;
    margin: 0 auto;
}

#container h1{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

#container p{
    font-size: 1.6rem;
}

#cabecera{
    background-color: #33a;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0,0.5);
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    
}

#cabecera p{
    font-size: 2.5rem;
}

#footer{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #33a;
    color: white;
}

#footer p{
    font-size: 2rem;
    padding-top: 7px;
}